@use "./base/fonts" as *;
@use "./base/reset" as *;
@use "./variables/variables" as *;
@use "./mixins/mixins" as *;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 160px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 25px;

  a {
    text-decoration: none;
    color: black;
  }
}

.signIn {
  background-color: none;
  color: #008080;
}

.green {
  background-color: #008080;
  color: white;
  padding: 23px 38px;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  form {
    display: flex;
    gap: 21px;

    input {
      background-color: #d5dddd;
    }
  }

  h1 {
    font-size: 86px;
    font-weight: 600;
    span {
      color: #008080;
    }
  }
}
button {
  border: none;
  border-radius: 4px;
}

#services {
  display: flex;
  align-items: center;
  gap: 20px;

  #services-image {
    width: 545px;
  }
}

#services-title {
  font-size: 48px;
  font-weight: bold;
  color: #1e1e1e;
}
