@use "./base/fonts" as *;
@use "./base/reset" as *;
@use "./variables/variables" as *;
@use "./mixins/mixins" as *;
@use "./responsive.scss" as *;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section,
header {
  padding: 0 160px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

nav {
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;

  h3 {
    font-size: 30px;
  }
}

menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 25px;

  a {
    text-decoration: none;
    color: black;
  }
}
#buttons {
  display: flex;
  gap: 10px;
}

.signIn {
  background-color: inherit;
  color: #008080;
  padding: 12px 24px;
}

.green {
  background-color: #008080;
  color: white;
  padding: 12px 24px;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: center;

  form {
    display: flex;
    width: fit-content;
    gap: 21px;
    background-color: #d5dddd;

    input {
      border: none;
      background-color: transparent;
    }
  }

  h1 {
    font-size: 86px;
    font-weight: 600;
    span {
      color: #008080;
    }
  }
}
button {
  border: none;
  border-radius: 4px;
}

#services {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #f7f7f7;
  padding: 30px 160px;

  #services-image {
    width: 545px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      font-size: 48px;
      font-weight: bold;
      color: #1e1e1e;
    }

    #services-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 21px;

      div {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
      }
    }

    button {
      border: 3px solid #D5DDDD;
      padding: 12px 24px;
      width: fit-content;
    }
  }
  
}

#reviews {
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding: 100px 60px;

  #review-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;

    > p {
      width: 679px;
    }
    .review-card {
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding: 25px;
      border-radius: 35px 4px;
      border: 3px solid #d5dddd;
      background: #f7f7f7;

      p {
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
      }

      div {
        display: flex;
        flex-direction: row;
        gap: 10px 10px;
        img {
          grid-column: span 2;
          border-radius: 50%;
        }
        .name-title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
        }
      }

      .quotation-mark {
        text-align: right;
        align-self: right;
        font-weight: 400;
        font-size: 100px;
        height: 67px;
        color: #008080;
      }
    }

    .review-card.alt-color {
      border-color: #008080;
      background-color: #008080;
      color: white;

      .quotation-mark {
        color: #eeeeee;
      }
    }
  }
}
