@use "./base/fonts" as *;
@use "./base/reset" as *;
@use "./variables/variables" as *;
@use "./mixins/mixins" as *;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 160px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 25px;
  
    a {
      text-decoration: none;
      color: black;
    }
  }
}


.signIn {
  background-color: none;
  color: #008080;
}

.green {
  background-color: #008080;
  color: white;
  padding: 23px 38px;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  form {
    display: flex;
    gap: 21px;

    input {
      background-color: #d5dddd;
    }
  }

  h1 {
    font-size: 86px;
    font-weight: 600;
    span {
      color: #008080;
    }
  }
}
button {
  border: none;
  border-radius: 4px;
}

#services {
  display: flex;
  align-items: center;
  gap: 20px;

  #services-image {
    width: 545px;
  }
  
  h2 {
    font-size: 48px;
    font-weight: bold;
    color: #1e1e1e;
  }

  #services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    div {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}

#reviews {
  display: flex;
  flex-direction: column;
  gap: 10px;

  #review-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;

    .review-card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 25px;
      border-radius: 35px 4px;
      border: 3px solid #D5DDDD;
      background: #F7F7F7;

      div {
         display: flex;
        flex-direction: row;
        gap: 10px 10px;
        img {
          grid-column: span 2;
          border-radius: 50%;
        }
        .name-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
         }
      }

      .quotation-mark {

        text-align: right;
        align-self: right;
        font-weight: 400;
        font-size: 100px;
      }
    }

    .review-card.alt-color {
      border-color: #008080;
      background-color: #008080;
      color: white;
    }

  }
}